.col-1 {
    background-color: #4444442e;
    // height: 50px;
    h1 {
        font-weight: 400;
        padding: 1rem 2rem;
        color: #4444449d;
        text-transform: uppercase;
    }

    img {
        width: 760px;
    }
}

.col-3 {
    text-align: center;
    margin: 2rem auto;
    background-color: #4444442e;
    img {
        width: 250px;
    }
    
    p {
        font-weight: 300;
    }
    span {
        font-size: 12.5px;
    }
    &:hover {
        background: #82CD47;;
        img {
            filter:brightness(60%);
        }
    }
}

.col-2 {
    p {
        display: inline;
    }
   
}

