footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

      p  {
            font-size: 90%;
            font-weight: 300;
            a {
                text-decoration: none;
            }
    }
}